@import url('https://fonts.googleapis.com/css2?family=Anton&family=Poppins:wght@100;200;300;400;600&display=swap');


body, h1, h2, p {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  text-align: center;
  font-weight: 300;
  /* background-image: url(../assets/landing.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; */
  position: relative;
  color: rgb(87, 91, 120);
}

header {
  background-color: #333;
  color: #fff;
  padding: 10px 0;
  text-align: center;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


