.ProgressPage {
  background: url('/ResultsPage.png') center/cover no-repeat;
  min-height: 100vh;
  padding-top: 100px;
}

.score{
    width: 74px;
}

.leaderboardContainer {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    
}
  
.leaderboardTable {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    
}
  
.leaderboardTable th {
    background-color: #f2f2f2;
    padding: 10px;
    border-radius: 10px;
}
  
.leaderboardTable tbody tr:nth-child(even) {
    background-color: #f9f9f9;
    
}
  
.leaderboardTable td {
    padding: 10px;
    text-align: center;
    
}
  